.basic-menu{
    font-family: "TTLakes-Medium";
    color: rgb(27, 28, 33);
    font-size: 16px;
    font-weight: bolder;   /*pixso= 500*/
    line-height: 24px; 
    letter-spacing: -0.2px;
    text-align: right;
}