.description__text-wrapper{
width: auto; 
max-width: 550px;    /*288px*/
height: 90px;
overflow: hidden;
padding: 0 16px 0 20px;
margin-bottom: 16px;
}
@media (min-width: 768px) and (min-height: 504px) {
    .description__text-wrapper{
            width: 312px;
            height: 160px;
            padding: 0;
            margin-bottom: 10px;
            }
}
@media (min-width: 1120px) and (min-height: 535px) {
    .description__text-wrapper{
            width: 490px;
            margin-bottom: 14px;
            }
}